body, html {
    background: url("../images/congruent_pentagon.png");
    font-size: 16px;


}

p {
    margin-bottom: 10px;
}

#heading {
    width: 400px;
    background-color: coral;
    color: white;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 45px;
}

#instructions {
    width: 400px;
    background-color: khaki;
    padding: 20px 10px;
    margin: 10px;

}

#target-nbr {
    width: 240px;
    background-color: darkseagreen;
    margin: 10px;
    padding: 25px 10px;
    float: left;
    font-size: 40px;

}

#wins-losses {
    width: 140px;
    background-color: deepskyblue;
    float: left;
    margin: 10px 5px;
    padding: 19px 0px 19px 5px;

}

#crystals {
    max-width: 500px;
    clear: both;
    margin: 10px;
}

img {
    float: left;
    margin: 10px;

}

#score {
    width: 400px;
    background-color: darkcyan;
    color: white;
    clear: both;
    margin: 10px;
    padding: 10px 10px 50px 10px;
}
